body {
  background: #022830;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

#root {
  width: 700px;
}

h1 {
  text-align: center;
  color: #f0eadd;
}

.score {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}